[buildout]
show-picked-versions = true
package-name = collective.purgebyid
package-extras = [test]
parts +=
    code-analysis
    coverage-sh
    code-analysis
    createcoverage
    coverage
    test-coverage
    releaser
    i18ndude
    omelette
    vscode

[vscode]
recipe = collective.recipe.vscode
eggs = ${instance:eggs}
autocomplete-use-omelette = True

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/collective
return-status-codes = False

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=80
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

