[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
package-name = collective.purgebyid
package-extras = [test]
versions = versions
parts +=
    omelette
    releaser

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[releaser]
recipe = zc.recipe.egg
eggs =
    zest.releaser
    pyroma
